#payslipBody {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
}

#payslipBody iframe {
  -webkit-overflow-scrolling: touch;
}

.iframe {
  width: 100%;
  height: 100%;
  min-height: 630px;
}

.form-group .inner {
  width:100%;
  position: relative;
}

.lang-id {
    text-transform: uppercase;
}